.show {
  height: 50px;
  background-color: rgb(229, 219, 219);
  width: 100%;
}

.show p {
  font-size: 50px;
  margin: 3px;

}

.calc-body {
  max-width: 300px;
  margin: auto;
}

.button {
  display: block;
  background-color: rgb(34, 213, 174);
}

button {
  width: 15%;
  height: 40px;
  font-size: 20px;
}